body {
	background: #c40807;
}

.container {
	margin: 10px auto;
	border: 16px solid white;
	border-radius: 10px;
	background: white;
	color: black;
}

.logo {
	background: url('../img/logo.png') no-repeat center;
	width: 258px; height: 125px;
}

.contact {
	padding-left: 8px;
	padding-top: 8px;
	font-size: 16px;
	line-height: 22px;
	white-space: nowrap;
}

.phone-numbers {
	padding-top: 9px;
}

.kids  {
	background: url('../img/kids.png') no-repeat center;
	height: 136px;
}

.copyright {
	text-align: center;
	font-size: 12px;
	color: #888;
}

.creativecommons {
	text-align: center;
	font-size: 12px;
	color: #888;
}
.creativecommons a {
	color: #a86d72;
}

.locality:before, .fax-label:before {
	content: '\a';
	white-space: pre;
}

h1, h2, h3, .tagline {
	font-family: 'Gloria Hallelujah', cursive;
}

h1 {
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 16px;
}

.language-chooser {
	font-size: 14px;
}

